{% extends 'base.html' %}

{% block content %}

<tt>
    <!-- <ul> -->
    [<br />
    {% for snippet in snippets %}
    <!-- <li> -->
    <a href="{{ url_for('editor.snippet', id=snippet.id) }}">X</a>&nbsp;{<br />
    {% for key, value in snippet.__dict__.items() %}
    &nbsp;&nbsp;&nbsp;&nbsp;"{{key}}": "{{value}}"<br />
    {% endfor %}
    &nbsp;&nbsp;&nbsp;&nbsp;[<br />
    {% for tag in snippet.tags %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('home.snippets', tag_name=tag.name) }}">{{tag.name}}</a><br />
    {% endfor %}
    &nbsp;&nbsp;&nbsp;&nbsp;]<br />
    &nbsp;&nbsp;},<br />
    <!-- </li> -->
    {% endfor %}
    ]<br />
    <!-- </ul>> -->
</tt>

{% endblock %}